.App {
  text-align: center;
  background-color: #b4ccda;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.h1{
  text-transform: uppercase;
}
.input {
  justify-content: center;
  height: 30px;
  border-radius: 8px;
  border-top: 1px black solid;
}

.btn {
  display: flex;
  width: 100px
}
.ArrDiv {
  width:80vw;
  display: flex;
  background-color: #bbd8e1;
  flex-direction: flex-start;
  MARGIN-TOP: 4%;
  justify-content: flex-start;
  margin-left: 9%;
  border:3px solid black;
  flex-wrap: wrap;
}
.objDiv {
  display: flex;
  padding: 3%;
  height: 70px;
  margin:6%;
  justify-content: center;
  background-color: #e98cb9;
  border-radius: 10px;
  border: 2px solid blue;
  flex-wrap: wrap;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
